<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <style>
    
    </style>

</head>

<body>

    <form action="" method="post" class="form_login">
        <h1 id="signup_title">Login</h1>
        
        <input type="email" placeholder="Email/username" id="email" name="email">
        <input type="password" placeholder="Password" id="pass" name="pass">
       <div class="btn">
            <a href="">Forgot Password</a>
           <input type="submit" value="Signup" id="signup_btn" class="both_btn" name="signup_btn">
           <input type="submit" value="Login" id="slogin" class="both_btn" name="slogin">

       </div>

    </form>




    <script src="" async defer></script>
</body>

</html>