<style>

.footer{

    background-color:#2b2828;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body_footer{
    display: flex;
    justify-content: space-around;
    align-items: end;
    
   
}
.body_footer li { 
    list-style: none;
    
   
}
.body_footer li a{
   text-decoration: none;
   color: white;
    
   
}

</style>
<body class="body_footer">
    <div class="footer">

        <li><a href="/Home/">FaceBook</a></li>
        <li><a href="/Home/">InstaGram</a></li>
        <li><a href="/Home/">GitHub</a></li>
        <li><a href="/Home/">About Us</a></li>
        <li><a href="/Home/">Contact Us</a></li>
        <li><a href="/Home/">Developer</a></li>
        
        
      
    </div>



</body>
 