.container_memes{

   
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.container_memes li  {

    margin: 10px;
    width: auto;
    background-color: rgb(221, 221, 221);
    padding: 5px;
   
    border-radius: 15px;
    border: 2px solid rgb(128, 126, 126);
    height: 45px;
    

}
.container_memes li a {

  
    color: black;
    font-weight: 400;
   
    

}
.container_memes .box{

    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
     
}
.container_memes .b_cont{

    display: flex;
 
}

 #Favorite{

    margin: 10px;
width: auto;
padding: 5px;
border-radius: 25px;
border: 2px solid white;
height: 45px;


}
#Favorite:hover{

 background-color: rgb(47, 47, 179);
 text-decoration: underline;

}
#Favorite:active{

    background-color: rgb(250, 20, 20);

}
