
.form{

    display: flex;
    justify-content: center;
  
  }
  #key{
  
    font-size: 18px;
      width: 319px;
      background: #ebebeb;
      box-shadow: (0,0,0,0.25) 200px 200px 20px (0,0,0,0.25) 200px 200px 20px (0,0,0,0.25) 200px 200px 20px;
      border: none;
      text-indent: 20px;
      height: 35px;
      margin-bottom: 30px;
      border-radius: 30px;
  }
  #search{
   
  
      width: 80px;
      border-radius: 14px;
      margin-left: 12px;
      border: none;
      height: 38px;
      background-color: #dfdfdf;
      color: #5e1010;
      font-size: 22px;
    
  }
  #search:hover{
   
      background-color: #a9ffa9;
   
  }
  #search:active{
   
      background-color: #9c7272;
   
  }
  .contain_news{
  
    display: flex;
    /* align-items: center; */
    margin-top: 29px;
    margin-bottom: 32px;
    justify-content: space-around;
  
  
  }
  .news_img{
  
   height: 350px;
   width: 400px;
 
   
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .news_img:hover{
  
    height: 350px;
   width: 400px;
 
  
   transition:0.3s linear;
   
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .body{
  
   width: 900px;
   height: 350px;
   padding: 6px;
   
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .body:hover{
   
   width: 900px;
   background-color: rgb(190, 190, 190);
 
   height: 350px;
   transition:.7s linear;
   box-shadow: rgb(100 100 100 / 40%) 0px 260px 215px, rgb(140 68 105 / 12%) 0px 67px 30px, rgb(200 197 109 / 42%) 0px 4px 6px, rgb(187 255 255 / 39%) 105px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; 
}
   
.read_more a{


  color: blue;
}
     
.read_more {
text-align: start;
}
.body .aa{
  height: 308px;
  overflow: hidden;

}
  