<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{combine.question}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        {% load static %}
        <link rel="stylesheet"  href="{%  static  '/css/abhay.css'  %}">
       
    </head>
    <body>
         
      

<form action="" method="get" id="form">
    {% csrf_token %}
    <input type="text" placeholder="question" name="question" id="question"  >
    <input type="button" name="next" value="Next" id="next">
    <input type="submit" name="pdf" value="Make Pdf" id="submit">
    <input type="hidden" name="totalques" value="" id="totalques">




</form>

<div id="container_ques">




</div>
 
<div>
{% for i in combine %}
 
 <h1 id="question">{{i.question}} </h1>
  
 {% for j in i.answer %}
  
 <li>{{j}} </li>
 


{% endfor %}
{% endfor %}



</div>



    
     
    </body>
    <script src="{% static 'js/index.js' %}"></script>  
</html>